body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

ol,ul li{
	list-style:  none;
}

a{
	text-decoration: none;
}

nav > ul{
	background: #ADA996;    
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    padding-bottom: 15px;
    align-items: center;
    margin: 0;
}

nav > ul > li{
	padding: 5px;
}

.container{
	border: 1px solid yellow;
	display: flex;
	/*height: 30%;*/
}

.container > .perfil, .resumo{
	border: 1px solid blue;

}

.name{
	text-align: center;
	padding: 10px;
}

.name > h1{
	font-size: 30pt;
	margin: 0px;
	padding: 3px;
}

.name > p{
	font-size: 15pt;
	margin: 0;
	padding: 3px;
}

.perfil{
	text-align: center;
	
}

.perfil > p{
	margin: 0;
}

.experiencia{
	border: 2px solid pink;
}

.experiencia > ._exp{
	border: 2px solid green;
	margin-right: 3px 3px 0px;
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;

}

.esq{
	width: 50%;
	direction: rtl;
}


.dir{
	width: 50%;
}

.text{
	margin: 3px;
	padding: 3px;
}

.organizacoes{
	display: flex;
	flex-wrap: wrap;
}

.org{
	display: inline-flex;
	flex-wrap: row wrap;
	border: 1px solid purple;
}

.fenea, .caeb, .incendio{
	border: 2px solid blue;
	width: 33%;
	margin: 2px;
	padding: 5px;
}

.card-projetos{
	border: 2px solid red;
	display: flex;
	width: 200px;
  	height: 100px;
  	margin-top: 3px;
  	margin-bottom: 3px;
  	margin-left: 2px;
  	margin-right: 2px;
}

.arq, .urbanismo, .design, .front-end{
	display: flex;
	flex-wrap: wrap;
}

.portfolio > div > div > h3{
	padding: 20px;
}

footer{
	text-align: center;
}